<div class="py-2">
<div class="row g-0">
  <div class="col-2 text-center" style="height: 100%">
    <button type="button" class="btn btn-primary" routerLink="../new" >Ajouter un ingredient</button>
  </div>
  <div class=" col">
    <div >
      <div class="row row-cols-1 row-cols- g-0">
        <form>
          <div class="row g-0">
            <label for="table-complete-search" class="col-xs-3 col-sm-auto col-form-label">Full text search:</label>
              <input
                id="table-complete-search"
                type="text"
                class="form-control w-25 col-1"
                name="searchTerm"
                [(ngModel)]="_ingredientService.searchTerm"
              />
              <div class="col w-25 " *ngIf="_ingredientService.loading$ | async">Loading...</div>
          </div>

          <table class="table ">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col" sortable="name" (sort)="onSort($event)">Ingredient</th>
              <th scope="col" sortable="price" (sort)="onSort($event)">Prix</th>
              <th scope="col" sortable="quantity" (sort)="onSort($event)">Quantitée</th>
              <th scope="col" sortable="unitOfMeasure" >Unité de mesure</th>
              <th scope="col" sortable="brand" >Marque</th>
              <th scope="col" sortable="expiration" (sort)="onSort($event)">Date de péremption</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let ingredient of ingredients$ | async">
              <th scope="row">{{ ingredient.id }}</th>
              <td><ngb-highlight [result]="ingredient.name" [term]="_ingredientService.searchTerm"></ngb-highlight></td>
              <td><ngb-highlight [result]="ingredient.price | number" [term]="_ingredientService.searchTerm"></ngb-highlight></td>
              <td><ngb-highlight [result]="ingredient.quantity | number" [term]="_ingredientService.searchTerm"></ngb-highlight></td>
              <td><ngb-highlight [result]="ingredient.unitOfMeasure.name" [term]="_ingredientService.searchTerm"></ngb-highlight></td>
              <td><ngb-highlight [result]="ingredient.brand.name" [term]="_ingredientService.searchTerm"></ngb-highlight></td>
              <td><ngb-highlight [result]="ingredient.expiration | date : 'longDate':undefined :'fr-BE'" [term]="_ingredientService.searchTerm"></ngb-highlight></td>
              <button type="button" class="btn btn-outline-info"  >Modifier</button>
              <button type="button" class="btn btn-outline-danger " >Supprimer</button>
            </tr>
            </tbody>
          </table>

          <div class="d-flex justify-content-between p-2">
            <ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="_ingredientService.page" [pageSize]="_ingredientService.pageSize">
            </ngb-pagination>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
