<body>
<div class="container">
  <div class="row">
    <div class="">
      <div class="card border-0 shadow rounded-3 my-5">
        <div class="card-body p-4 p-sm-5">
          <h5 class="card-title text-center mb-5 fw-light fs-5">Création d'ingrédient</h5>
          <form>
            <div class="row">
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="name" placeholder="Farine">
                <label for="name">Nom</label>
              </div>

              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="price" placeholder="Farine">
                <label for="price">Prix/Unité</label>
              </div>

              <div class="form-floating mb-3 col">
                <input type="number" class="form-control" id="quantity" placeholder="0">
                <label for="quantity">Quantitée</label>
              </div>

              <div class="form-floating mb-3 col">
                <input type="text" class="form-control" id="unitOfMeasure" placeholder="Password">
                <label for="unitOfMeasure">Unité de mesure</label>
              </div>

              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="brand" placeholder="Farine">
                <label for="brand">Marque</label>
              </div>

              <div class="form-floating mb-3">
                <input type="date" class="form-control" id="expiration" placeholder="Farine">
                <label for="expiration">Date de péremption</label>
              </div>

              <div class="d-grid">
                <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">Créer</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
