<body>
<div class="container">
  <div class="row">
    <div class="">
      <div class="card border-0 shadow rounded-3 my-5 " style="background-color: cornflowerblue">
        <div class="card-body p-4 p-sm-5">
          <h5 class="card-title text-center mb-5 fw-light fs-5">Création d'ingrédient</h5>
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="in-name" formControlName="name">
                <label for="in-name">Nom</label>
              </div>

              <div class="form-floating mb-3 ">
                <select class="form-select" id="unitOfMeasure" formControlName="unitOfMeasureId">
                  <option *ngFor="let unit of unitOfMeasures" [value]="unit.id">{{unit.name}} </option>
                </select>
                <label for="unitOfMeasure">Unité de mesure</label>
              </div>


              <div class="d-grid">
                <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">Créer</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
